/* 헤더 전체 영역 (전체 width 유지) */
.header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #0b7a2a;
}

/* 내부 정렬 (1920px 박스) */
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 30px;       /* 가운데 정렬 */
    padding: 5px 10px;   /* 내부 여백 */
}

/* 로고 */
.logo-area {
    display: flex;
    align-items: center;
    margin:0;
}

.logo-img {
    width: 140px;
    height: 90px;
}

/* nav 영역 오른쪽 정렬 */
.nav {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

/* 메뉴 기본 */
.nav-menu {
    list-style: none; /* 기본 점 제거 */
    padding: 0;
    margin: 0;
    display: flex; /* 가로 정렬 */
    gap: 40px;
}

/* 메뉴 아이템 */
.nav-menu li {
    position: relative;
}

/* 메뉴 링크 */
.nav-menu a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
}

/* 호버 */
.nav-menu a:hover {
    color: #0b7a2a;
}

/* 드롭다운 기본 숨김 */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 55%;
    transform: translateX(-50%);

    background: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* 드롭다운 항목 */
.dropdown-menu li {
    white-space: nowrap;
    padding: 10px;
    text-align: center;
}
.dropdown-menu a {
    white-space: nowrap;
    padding: 5px;
    font-size: 15px;  
    text-align: center; 
}

.dropdown-menu li:hover {
    background-color: #f0f8f0;
}

/* 호버 시 표시 */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* hover 영역 확장 */
/* navi 랑 top 여백을 여유롭게 주면 hover 가 끊겨서 영역 확장 */
.dropdown::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 15px; /* hover 유지 여유 공간 */
}

/* 오른쪽 로그인 영역 */
.user-area {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.user-area a {
    font-size: 13px;
    color: #0A3A2B;
    text-decoration: none;
}

.slash {
    color: #333;
    font-size: 13px;
}

/* 하단 라인 */
/* .header-line {
    border-top: 1px solid #0b7a2a;
    width: 100%;
    margin-top: 5px;
} */