# ===============================
# 🧩 OS 임시 파일 (Mac / Windows)
# ===============================
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk

# ===============================
# 🧩 Eclipse / STS / Windows 차이 대응
# ===============================
# Eclipse 자동 생성 설정 파일 (Mac/Windows 동시 대응)
.metadata/
.recommenders/
.classpath
.project


# Windows 전용: 자동 백업, 임시 파일 제거
*.bat~
*.cmd~
*.tmp
~$*
*.class
target/
*.jar
*.war

# Mac 전용: Spotlight, AppleDouble
.Spotlight-V100
.Trashes
.AppleDouble
._*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# DB정보 제외
/src/main/resources/application.properties
