.container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
    --background: #fafafa;
}

/* 우측 메인 */
.main {
    flex: 1;
    padding: 40px 50px;
}

.mainTitle {
    font-size: 26px;
    font-weight: 700;
    color: #333;
}

.dashboardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.dashboardContent {
    flex: 1;
    padding: 40px;
    margin-left: 20px;
}