<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.fom.boot.domain.mypage.model.mapper.MyPageMapper">
  
	  <update id="logicalDeleteMealPlan">
	      UPDATE MEAL_PLAN
	      SET IS_DELETED = 'Y',
	          DELETED_AT = SYSTIMESTAMP
	      WHERE PLAN_ID = #{planId}
	  </update>
	  
	  <!-- 대시보드 -->
	  <select id="getMemberInfo" resultType="com.fom.boot.domain.member.model.vo.Member">
	    	SELECT MEMBER_ID, MEMBER_NAME, EMAIL, MEMBER_NICKNAME
		    FROM MEMBER
		    WHERE MEMBER_ID = #{memberId}
	  </select>
	  <select id="getFavoriteIngredientCount" resultType="int">
		    SELECT COUNT(*) FROM FAVORITE
		    WHERE MEMBER_ID = #{memberId}
	  </select>
	  <select id="getFavoriteMealCount" resultType="int">
		    SELECT COUNT(*) FROM MEAL_PLAN
		    WHERE MEMBER_ID = #{memberId}
		    ORDER BY CREATED_AT DESC
	  </select>
	  <select id="getRecentMeals" resultType="com.fom.boot.domain.meal.model.vo.MealPlan">
		    SELECT PLAN_ID, PLAN_NAME, CREATED_AT
		    FROM MEAL_PLAN
		    WHERE MEMBER_ID = #{memberId}
		    ORDER BY CREATED_AT DESC
		    FETCH FIRST 5 ROWS ONLY
	  </select>
    
  </mapper>